.outer {
    margin: 5vw;
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    margin: auto;
    align-items: center;
    margin-top: 40vh;
    width: 30vw;
    height: 70vh;
    min-height: fit-content;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    position: relative;
    z-index: 10;
}

.modalheadrow {
    margin-top: -1vh;
    margin-top: -0%;
    margin-bottom: 1vh;
}

.closemodalbtn {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
    z-index: 10;
}

.navheading {
    color: #495057;
    font-weight: 200;
}

.heading {
    margin-bottom: 0;
    margin-top: 10vh;
}

.subheading {
    font-weight: 200;
    margin: 0;
    color: #495057;
    opacity: 70%;
}

.description {
    margin-top: 5vh;
    width: 50vw;
}

.stepsheader {
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: flex;
}

.modalstepsheader {
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-size: 21px;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}

.info {
    margin-left: 1vw;
    background-color: #D9DDFF;
    color: #2637B8;
    height: 1.2vw;
    font-size: 0.8vw;
    font-weight: bold;
    width: 1.2vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.step, .headrow {
    display: flex;
}

.leftmenu {
    margin-left: 2.5vw;
    display: flex;
    flex-direction: column;
    background-color: #ADB5BD;
    width: 0.5px;
    align-items: center;
    /* border: 0.5px solid #ADB5BD; */
}

.datepicker {
    margin-left: 5vw;
    /* background: #E9ECEF; */
    /* border: 1px solid #555; */
    /* color: #ADB5BD; */
}

.datepicker .today {
    background: #ffcc00 !important;
}

.bullet {
    background: #F0F4FA;
    height: 5vh;
    width: 5vh;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.num {
    font-weight: bold;
    transform: rotate(-45deg);
}

.content {
    margin-left: 5vw;
    padding-bottom: 10vh;
    padding-top: 0.5vw;
}

.modalcontent {
    margin-left: 5vw;
    padding-bottom: 5vh;
    padding-top: 0.5vw;
}

.modalstepheading, .stepheading {
    font-weight: bold;
    font-size: large;
}

.bracketed {
    font-size: small;
    align-self: flex-end;
}

.factors {
    margin-top: 2vh;
}

.inputboxes {
    display: flex;
    max-width: 30vw;
    flex-wrap: wrap;
}

.line1, .line2, .line3 {
    display: flex;
    margin-top: 1vh;
}

.factor {
    width: 10vw;
}

.factorinput {
    accent-color: #2637B8;
}

.selectallbtn {
    cursor: pointer;
    font-size: 12px;
    line-height: 161.1%;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #212529;
}

.avbtn {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    text-decoration-line: underline;
    color: #2637B8;
    margin-bottom: 4px;
    margin-top: 2px;
}

.selectallbtn {
    margin-left: 1.5vw;
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    border-radius: 2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.index:hover {
    background: #d9ddff40;
}

.table {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid #E9ECEF;
}

.tablediv {
    max-width: 80vw;
    overflow-x: auto;
}

.nonhead {
    max-height: 147px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.table {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid #E9ECEF;
}

.table tr:nth-child(odd) {
    background: #E9ECEF;
}

.nonhead tr:nth-child(even) {
    background: #fff;
}

.table thead {
    height: 49px;
    background: #D9DDFF !important;
    color: #495057;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}
.table th{
    background: #D9DDFF !important;
}
.table tbody {
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 18px;
}

.table tr {
    height: 49px;
}

.table, .tablediv {
    max-width: 698.69px;
}

.table {
    /* padding-right: 200px; */
}

.table tbody {
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 18px;
}

.table tr {
    height: 49px;
}

.table, .tablediv {
    max-width: 698.69px;
}

.trhead {
    background: #D9DDFF;
    position: sticky;
    top: 0;
}

.table th {
    color: #495057;
}

.col2, .col3 {
    /* min-width: fit-content; */
    text-align: right;
}

.col2head, .col3head {
    /* min-width: 127px; */
    text-align: right;
}

.col3head {
    padding-right: 30.61px;
    width: 167px;
}

.col3 {
    padding-right: 20.61px;
    width: 167px;
    overflow-x: hidden;
}

.col2head {
    padding-right: 71.52px;
    width: 167px;
}

.col2 {
    padding-right: 71.52px;
    width: 167px;
    overflow-x: hidden;
}

.col1, .col1head {
    padding-left: 30px;
    min-width: 300px;
    text-align: left;
    font-weight: 600;
}

/* , position: "sticky", left: "0", */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}

.nseip {
    background: #E9ECEF;
    border-radius: 5px;
    border: none;
    padding: 2vh;
    width: 20vw;
    font-size: medium;
    letter-spacing: 0.05vw;
    margin-top: 2vh;
    margin-bottom: -3vh;
}

.nseip::placeholder {
    color: #ADB5BD;
    font-size: medium;
    letter-spacing: 0.05vw;
}

.nseip:focus {
    outline: none;
}
.runbtn {
    margin-left: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    width: 99px;
    height: 37px;
    background: #0116CB;
    border: 1px solid #0116CB;
    box-sizing: border-box;
    border-radius: 4px;
    align-self: flex-end;
}

.runtext {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Background */

    color: #FFFFFF;
}