.ranges {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}

.range {
  padding: 0.5em 1.5em;
  margin: 1vh 1vw;
  cursor: pointer;
  background-color: white;
  border: none;
  color: var(--black);
}

.range:hover {
  background-color: #d9ddff;
  border-radius: 5em;
  color: #2637b8;
}